
.contentBanner {
  width:270px;
  font-size:24px;
  line-height:40px;
  font-family:'Muli';
  	 
  color:#ecf0f1;
  height:40px;
  justify-content: center;
  text-align:center;
 
  
  
   
  &:before {
   
    display:inline;
	float:left;
    left:0px;
    line-height:40px;
  }
  &:after {
   
	top:-40px;
	position:relative;
	float:right;
    line-height:40px;
  }
  &:after, &:before {
    color:#16a085;
    font-size:42px;

  }
}

.visible {
 
  font-weight:600;
  letter-spacing:-0.5px;
  overflow:hidden;
  height:40px;  
}

.contentBanner p {
  display:inline;
  float:left;
  margin:0;
  padding-left:10px;

}

ul {
  margin-top:0;
  padding-left:30px;
  text-align:left;
  list-style:none;
   margin-left:20px;
  animation:6s linear 0s normal none infinite change;
  -webkit-animation:6s linear 0s normal none infinite change;
  -moz-animation:6s linear 0s normal none infinite change;
  -o-animation:6s linear 0s normal none infinite change;
}

ul li {
  line-height:40px;
  margin:0;
  margin-left:30px;
  padding-left:20px;
}

.casino-logo-round {
  display: block; /* Hace que la imagen se pueda centrar con margin auto */
  margin: 100px auto; /* Añade espacio arriba/abajo y centra horizontalmente */
  height: 400px; /* Define la altura para mantener la imagen como un cuadrado */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
}

@-webkit-keyframes opacity {
  0%   {opacity:0;}
  50%  {opacity:1;}
  100% {opacity:0;}
}
@keyframes opacity {
  0%   {opacity:0;}
  50%  {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-40px;}
  40%  {margin-top:-40px;}
  50%  {margin-top:-80px;}
  65%  {margin-top:-80px;}
  75%  {margin-top:-40px;}
  85%  {margin-top:-40px;}
  100% {margin-top:0;}
}
@keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-40px;}
  40%  {margin-top:-40px;}
  50%  {margin-top:-80px;}
  65%  {margin-top:-80px;}
  75%  {margin-top:-40px;}
  85%  {margin-top:-40px;}
  100% {margin-top:0;}
}

.flex_column_center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

.flex_no_wrap_row_center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  
  /* Menu Codes */

#header_nav_menu_item_1 {
  color: var(--menu_active_text_color);
}

#header_nav_menu_item_2,
#header_nav_menu_item_3 {
  color: var(--menu_text_color);
}


.header_nav_menu_list {
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.header_nav_menu_item {
  color: var(--menu_text_color);
  background-color: var(--menu_background_color);
  text-align: center;
  list-style-type: none;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
  transition: 0.10s ease;
  font-size: 1.1em;
}

.header_nav_menu_item + .header_nav_menu_item {
  margin-left: 0.4em;
}

/* Menu Container Codes */

main {
  margin-bottom: auto;
}

#main_section_container_2, #main_section_container_3 {
 display: none;
}

.main_a_item {
  margin-top: 1em;
  text-decoration: none;
}

.main_text_item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button_text_color);
  background-color: var(--button_background_color);
  width: 41em;
  margin-top: 1em;
  padding: 0.8em;
  border-radius: 0.3em;
  min-height: 3.7em;
  text-align: center;

}

.main_button_item {
  color: var(--button_text_color);
  background-color: var(--button_background_color);
font-size: 1.3em;
  width: 13.5em;
  border-radius: 5em;
 border: 4px solid #ffffff;
  min-height: 3em;
  font-weight: 900;
 font-style: italic;
  text-align: center;
  cursor: pointer;
  animation: shake 1.6s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
}

/* Menu Codes */

#header_nav_menu_item_1 {
  color: var(--menu_active_text_color);
}

#header_nav_menu_item_2,
#header_nav_menu_item_3 {
  color: var(--menu_text_color);
}


.header_nav_menu_list {
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.header_nav_menu_item {
  color: var(--menu_text_color);
  background-color: var(--menu_background_color);
  text-align: center;
  list-style-type: none;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
  transition: 0.10s ease;
  font-size: 1.1em;
}

.header_nav_menu_item + .header_nav_menu_item {
  margin-left: 0.4em;
}

/* Menu Container Codes */

main {
  margin-bottom: auto;
}

#main_section_container_2, #main_section_container_3 {
 display: none;
}

.main_a_item {
  margin-top: 1em;
  text-decoration: none;
}

.main_text_item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button_text_color);
  background-color: var(--button_background_color);
  width: 41em;
  margin-top: 1em;
  padding: 0.8em;
  border-radius: 0.3em;
  min-height: 3.7em;
  text-align: center;

}

.main_button_item {
  color: var(--button_text_color);
  background-color: var(--button_background_color);
font-size: 1.3em;
  width: 13.5em;
  border-radius: 5em;
 border: 4px solid #ffffff;
  min-height: 3em;
  font-weight: 900;
 font-style: italic;
  text-align: center;
  cursor: pointer;
  animation: shake 1.6s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
}

.main_small_button_list {
  display: flex;
  flex-direction: row;
}

.main_small_a_item {
  margin-top: 1em;
  text-decoration: none;
}

.main_small_a_item + .main_small_a_item {
  margin-left: 10px;
}

.main_small_button_item:hover,
.main_button_item:hover {
  color: var(--button_text_hover_color);
  transform: scale(1.02);
  transition: 0.10s ease;
}

.main_small_button_item {
  color: var(--button_text_color);
  background-color: var(--button_background_color);
  width: calc(41em / 2 - 5px);
  border-radius: 1em;
  min-height: 3.7em;
  text-align: center;
  cursor: pointer;
}

/* Footer Codes */

.footer_div_item {
  color: var(--footer_text_color);
  background: var(--footer_background_color);
  padding: 1em;
  margin-top: 1.5em;
}

.footer_a_item {
  color: var(--footer_link_text_color);
  text-decoration: none;
}
 
/* Form Codes */

#main_section_container_1 {
    margin-top: 15px;
}

.container {
    background-color: rgba(127,204,228,255);
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 5px 20px #7fcce4;
    border-radius: 8px;
    padding: 25px;
    /*width: 100%;*/
}

form {
    display: grid;
    place-content: center;
    place-items: center;
}

.form-entry {
    margin-top: 15px;
}

input {
    outline: none;
    border: none;
    margin: 10px 0;
    height: 50px;
    font-size: 18px;
    padding: 15px;
    width: 22.5vw;
    border-radius: 10px;
    box-shadow: 0 2px 5px #7fcce4;
}

label {
    font-size: 20px;
    color: #fff;
}

span {
    color: #f1c40f;
}

.main_button_item {
    margin-top: 15px;
}

.header_disclaimer {
	margin-top: 15px;
	color: #ffffff;
	font-size: 12px;
}
/* Responsive Codes */

@media (max-width: 768px) {
    .main_text_item {
        width: 95vw;
    }

    .main_small_button_item {
        width: calc(92vw / 2 - 5px);;
    }

    .container {
        width: 85vw;
    }

    input, .main_button_item {
        width: 75vw;
    }

    .header_h_item {
        width: 92vw;
        text-align: center;
    }

    .header_img {
        padding-top: 3em;
    }

    .header_img img {
        height: 180px;
        width: auto;
    }

    .header_text h1 {
        color: var(--title_color);
        font-size: 18px;
        text-align: center;
        line-height: 1em;
        font-weight: 900;
    }

.logofinal {
    display: block; /* Hace que la imagen se pueda centrar con margin auto */
    margin: 50px auto; /* Añade espacio arriba/abajo y centra horizontalmente */
    margin-top: -10;
    height: 50px; /* Define la altura para mantener la imagen como un cuadrado */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
}